@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{    
    padding: 10px;   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #009cde;
    position: relative;
    font-size: 40px;
    color: white;
    transition: 0.5s;
}
.bg{   
    filter: blur();
    width: 100%;
    height: 100vh;
    opacity: 0.7;   
    top:0;
    left:0;
    z-index: 10;
    object-fit: contain;
    object-position: center;
    margin-right: 30px;
}
.happy {
position: absolute;
top: 10px;
left: 10px;
z-index: 15;
text-shadow: 15px 5px 5px red;
animation: jump 1s ease 0s infinite;
}
.new {
position: absolute;
top: 100px;
left: 10px;
z-index: 15;
font-size: 70px;
text-shadow: 15px 5px 5px red;
animation: jump 1s ease 1s infinite;
}
.year {
position: absolute;
top: 150px;
left: 10px;
z-index: 15;
font-size: 100px;
text-shadow: 15px 5px 5px red;
animation: jump 1s ease-in-out 2s infinite;
}
.family{
    position: absolute;
    top: 350px;
    left: 10px;
    z-index: 15;
    font-size: 100px;
    text-shadow: 15px 5px 5px red; 
    animation: jump 1s ease-in-out 3s infinite;
}
.snake{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 20;
    animation: run 2s ease 0s infinite ;
}
@keyframes run{
    0%{
        transform: translateX(0);
    }
    25%{
        transform:translateX(50%)
    }
    50%{
        transform:translateX(100%)        
    }
    75%{
        transform:translateX(50%)
    }
    100%{
        transform:translateX(0)
    }
}
@keyframes jump{
    0%{
    transform: translate(0,0) scale(1);
    
    }
    50%{
    transform: translate(-20px,20px) scale(1.1);
    }
    100%{
    transform: translate(0,0) scale(1);
    }
    }
    @media (min-width:540px) {
        .happy {
            left: auto;
        }
        .snake {
            left: 50%;
        }
        .new {
            left: 50%;
        }
        .year {
            left:auto;
        }
        .family {
            left: 50%;
        }
        
    }
